<ul>
  <% for (let person of people) { %>
    <% if(person.name === 'chuck') { %>
      <li>This is for sure <%= person.name %>!!!</li>
    <% } else { %>
      <li>This is for sure NOT Chuck. This is <%= person.name %></li>
    <% } %>
  <% } %>
</ul>
<h3>This is the child view file. In Views</h3>