<!DOCTYPE html>
<html>
  <head>
    <title>EJS</title>
  </head>
  <body>
    <h1>This is in the layout file. Also in Views</h1>

    <%- body %>
    <%- include('partials/onepartial') %>

  </body>
</html>